.home-page {
	padding: 20px 40px;
	height: 100%;
	background: #26354c;
}
.home-page-nav {
	margin: 10px 0 20px 0;
}
.home-page-nav div {
	display:inline;
	margin-right: 50px;
}
.home-page-nav> div:last-child {
	margin-right: 0;
	float: right;
}
.home-page-nav> div:last-child .btn{
	margin-left: 30px;
}