* {
	margin: 0;
	padding: 0;
}
body {
	font-family: '微软雅黑';
	font-size: 14px;

	color: #333;
}
a {
	color: #333;
}
a:hover {
  text-decoration: none;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
/*header 开始*/
.headerself {
	display: block;
	z-index: 999;

	margin: 0;
	width: 100%;
	height: 70px;
	
	border-bottom: 1px solid #ccc;

}
#header-bck {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 70px;
	background: url("headerbck.jpg") repeat-x;
	opacity: 0.2;
}
.header_img {
	display: block;
	float: left;

	margin: 12px 40px;
}
.header_nav {
	height: 70px;
}
.header_nav, 
.header_nav li {
	float: left;
	display: block;
	line-height: 70px;
}
.header_sign_in li,
.header_nav li {
	list-style: none;

	color: #333;

	margin: 0 10px;
}
.header_btn{
	border: 1px solid transparent;
	padding: 5px;
}
.header_btn:hover {
	border: 1px solid #ccc;
	border-radius: 5px;
} 
.header_sign_in {
	margin-right: 20px;
}
.header_sign_in li {
	float: right;

	line-height: 70px;
	list-style: none;

	color: #333;

	margin: 0 5px;
}

/*header 结束*/
.pro_main {
	position: absolute;
	width: 1350px;
	height: 100%;
	border-right: 1px solid #ccc;
}
.pro_content {
	float:right;
	padding: 0 30px;
	height: 100%;
	width: 1110px;
	border-right: 1px solid #ccc;
}
.pro_content_nav {
	padding:20px 0;
}
.pro_content_nav button{
	margin-right: 10px;
}
.tab_content_btn {
	position: absolute;
	top: 25px;
	right: 100px;
}